<form method="post" action="{{ path('app_backoffice_personnages_delete', {'id': personnage.id}) }}" onsubmit="return confirm('Voulez-vous supprimer l'item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personnage.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
