{% extends 'base.html.twig' %}

{% block title %}{{ persoso.prenom }}{% endblock %}

{% block body %}
    <h1 class="text-center text-5xl font-semibold">La page de {{ persoso.prenom }} {{ persoso.nom }}</h1>
{% endblock %}