body {
    /* background-color: #0F3C86; */
    background-color: #BBBF3B;
}

.card {
    background-color: #BF7245;
}

h1 {
    color : #8F2F2F;
    text-align: center;
}

a {
    text-decoration: none;
}

#cardlink {
    text-decoration: none;
    color : #5C2B8C;
}

.logo {
    height: 6rem;
    width: 30rem;
}

.image-type {
    height: 5rem;
    max-width: 100%;
}

.card-style {
    display: block;
    float: right;
    margin-left: 15px;
}

.table-list {
    color: #5C2B8C;
    background-color: #BF7245;
}

.nav-link, h4, .right {
    color: #055BA6; 
}

a.nav-link:hover, p.nav-link:hover {
    color: #5C2B8C;
}

.parent {
    display: grid;
    justify-items: center;
}

.right {
    justify-self: right;
    margin-right: 5rem;
}