body {
    /* background-color: #0F3C86; */
    background-color: #B7CC50;
}

.card {
    background-color: #F4984F;
}

h1 {
    color : #8F2F2F;
    text-align: center;
}

a {
    text-decoration: none;
}

#cardlink {
    text-decoration: none;
    color : #6F2791;
}

.logo {
    height: 6rem;
    width: 30rem;
    margin: auto;
    display: block;
}

.image-type {
    height: 5rem;
    max-width: 100%;
}

.card-style {
    display: block;
    float: right;
    margin-left: 15px;
}

.table-list {
    color: #6F2B90;
    background-color: #F49750;
}

.nav-link {
    color: #6F2B90; 
}

a.nav-link:hover, p.nav-link:hover {
    color: #FEF103;
}